<form action="" method="post">
    <H1>Add Contact</H1>
    <br>
    First Name : <input type="text" name="firstName">
    <br>
    Last Name : <input type="text" name="lastName">
    <br>
    Initial : <input type="text" name="initial">
    <br>
    Nickname : <input type="text" name="nickname">
    <br>
    Email : <input type="text" name="email">
    <br>
    Phone Number : <input type="number" name="phoneNumber">
    <br>
    address :
    <br>
     address line 1 : <input type="text" name="addressl1">
     <br>
     address line 2 : <input type="text" name="addressl2">
     <br>
     city : <input type="text" name="city">
     <br>
     state : <input type="text" name="state">
     <br>
     zip : <input type="text" name="zipCode">
     <br>
     country : <input type="text" name="country">
</form>