{{#notification}}
<!-- Something happened: -->
<p class="message {{severity}}">{{message}}</p>
{{/notification}}


<form action="" method="post">
    <br>
    First Name : <input type="text" value="{{contacts.firstName}}" name="firstName">
    <br>
    Last Name : <input type="text" value="{{contacts.lastName}}" name="lastName">
    <br>
    Initial : <input type="text" value="{{contacts.initials}}" name="initials">
    <br>
    Nickname : <input type="text" value="{{contacts.nickname}}" name="nickname">
    <br>
    Email : <input type="text" value="{{contacts.email}}" name="email">
    <br>
    Phone Number : <input type="text" value="{{contacts.phoneNumber}}" name="phoneNumber">
    <br>
    address :
    <br>
     address line 1 : <input type="text" value="{{contacts.address.addressLine1}}" name="addressl1">
     <br>
     address line 2 : <input type="text" value="{{contacts.address.addressLine2}}" name="addressl2">
     <br>
     city : <input type="text" value="{{contacts.address.city}}" name="city">
     <br>
     state : <input type="text" value="{{contacts.address.state}}" name="state">
     <br>
     zip : <input type="text" value="{{contacts.address.zipCode}}" name="zipCode">
     <br>
     country : <input type="text" value="{{contacts.address.country}}" name="country">

<br>

<B>
<button type="submit" name="action" value="save" class="btn btn-green">Save</button>
        <a class="btn" href="/contacts/{{contacts.id}}">Cancel</a>
</B>
</form>