{{#notification}}
<!-- Something happened: -->
<p class="message {{severity}}">{{message}}</p>
{{/notification}}

{{#contacts}}

<uL>
    <h1>{{lastName}}, {{firstName}} {{initials}} {{#if nickname}} ({{nickname}}) {{/if}}</h1>
    {{#if address.state}}
    <div>{{address.addressLine1}}</div>
    <div>{{address.addressLine2}}</div>
    <div>{{#if address.city}} {{address.city}}, {{/if}} {{address.state}} {{address.zipCode}}</div>
    {{/if}}
    <div>{{email}}</div>
    <div>{{phoneNumber}}</div>
</uL>

{{/contacts}}
<form>
<a class="btn" href="/contacts/{{contacts.id}}/edit">Edit</a>

{{#if contacts.id}}
    <button type="submit"
        class="btn btn-red"
        name="action"
        value="delete"
        formaction="/contacts/{{contacts.id}}/delete"
        formmethod="POST">Delete</button>
{{/if}}
</form>