<center>
<form>
<table>
    <tr>
    <td>First Name :</td> <td><input name="firstName"></td>
    </tr>
    <tr>
    <td>Last Name :</td> <td><input name="lastName"></td>
    </tr>
    <tr>
    <td>Nickname :</td> <td><input name="nickname"></td>
    </tr>
    <tr>
    <td>Email :</td> <td><input name="email"></td>
    </tr>
    <tr>
    <td>City :</td> <td><input name="address.City"></td>
    </tr>
    <tr>
    <td>State :</td> <td><input name="address.State"></td>
    </tr>
</table>
    <button type="submit" name="action" value="search" class="btn btn-green">Search</button>
</form>
</center>