body {
    margin: auto;
    font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}

a {
    color: #333;
    text-decoration: none;
}

.btn {
    cursor: pointer;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    height: 23px;
}

.btn-green {
    background: rgb(28, 184, 65);
}

.nav {
    margin: 0 auto;
    background: white;
    padding: 8px;
    border-bottom: 1px solid black;
}

.nav > li {
    display: inline-block;
    zoom: 1;
    *display:inline;
}

.nav > li > a {
    color: #666666;
    text-decoration: none;
    padding: 3px 8px;
}

.nav > li > a:hover {
    color: black;
    text-decoration: underline;
}

.nav-bar {
    top: 54px;
    left: 20px;
    height: 93%;
    width: 200px;
    position: absolute;
    border-right: 1px solid #333333;
    
}

.btnAdd {
    cursor: pointer;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    margin-left: 240px;
    white-space: nowrap;
    overflow: hidden;
}

.contact {
    text-decoration: underline;
    margin-left: 240px;
    max-width: 600px;
    white-space: nowrap;
    overflow: hidden;
}

.hide {
    visibility: hidden;
}